section#header {
    /* background-image: url("../../swimmer1.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    opacity: 0.8;
    min-height: 70vh; */
    background: rgba(61, 110, 119, 0.5);
}
#header {
    position: relative;
  }
  .header {
    display: flex;
    justify-content: center;
    align-items:flex-start
  }
  
  .header h1 {
    font-size: 5rem;
    line-height: 1.4;
    text-transform: uppercase;
    text-align: center;
    color:  rgba(12, 37, 51,2);
    /* position: relative; */
    /* position: fixed; */
    padding-bottom: 2rem;
    
  }
  
  .header h1 span {
    display: block;
  }
  
  h1 span:nth-child(1) {
    font-weight: 800;
  }
  
  h1 span:nth-child(2),
  h1 span:nth-child(3) {
    font-weight: 100;
  }
  
  .header h1::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 65%;
    height: 1px;
    background: var(--color-white);
  }
  
  /* .header-left p {
    margin: 3rem 0;
    color: var(--color-white);
    width: 70%;
  } */
  .title {
    text-align: center;
    margin-bottom: 4rem;
  }